PORT=3003

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=


STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# Este es el signin secret del webhook
# https://dashboard.stripe.com/test/workbench/webhooks/we_1QUAbTCIkcDQmygLsMtkI0gr
# STRIPE_ENDPOINT_SECRET=whsec_9b6f086bd0a8808e4459e6324b9d5c0c058656733da7b1422d7f63b721556cb2
STRIPE_ENDPOINT_SECRET=
